[submodule "external/AnimEngine"]
	path = external/AnimEngine
	url = git@github.com:WangSimiao2000/MiaoAnimEngine.git
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
